body{
    text-align: center;
    background-color: rgb(0, 69, 90);
}

button{
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 20px;
    font-size: 15px;
    font-family: cursive;
}

div{
    border-radius: 50px;
}

p{
    font-size: 35px;
    font-family: cursive;
}
canvas{
    border-radius: 10px;
}